* {
	margin: 0;
	border: 0;
}

body {
	font-family: 'Inconsolata', monospace;	
	color: #f2f4f6;
	background: #fff;
	font-size: 14pt;
	line-height: 1.6em;
	color: #002649;
}

header {
	display: grid;
	grid-template-columns: 30% 70%;
}

.aboutHeader {
	margin: 1em 0;
	line-height: 2.1em;
}

.navigation-links {
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
}
.navigation-links li {
	padding-right: 1em;
}

a {
	color: #002649;
	text-transform: lowercase;
}

.logoContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.logoContainer img {
	width: 65%;
}

main {
	display: block;
	width: 800px;
	margin: 5em auto;
}

.screenshotContainer img {
	display: block;
	width: 100%;
}